.content {
	margin-top: 100px;
}

board-name {
	float: left;
}

.col-md-6 .btn {
	float: right;
}

/******************/
.topics-header {
	float: left;
	width: 780px;
	height: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgba(211, 214, 213, 0.7);
}

.tips {
	float: right;
	margin-right: 28px;
	width: 300px;
}

.tips-header {
	height: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgba(211, 214, 213, 0.7);
}

.tips-content-1 {
	height: 120px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fff;
}

.tips-content-1 .btn-success {
	margin-left: 110px;
	margin-top: 40px;
	background-color: rgba(18, 202, 99, 0.7);
	border-color: #09E409;
}

.tips-content-2 {
	margin-top: 15px;
	height: 360px;
	border-radius: 5px;
	background-color: #fff;
	border-radius: 5px;
}

.tips-content-2 h2 {
	font-size: 16px;
	font-weight: normal;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	padding: 10px 126px 0;
	margin-bottom: 8px;
	color: #666;
	line-height: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
}

.tips-content-2 div {
padding-left: 16px;
padding-right: 16px;
}

/******************/
.topic {
	float: left;
	width: 780px;
	height: 68;
	background-color: #fff;
	border-bottom: 1px solid #aaa;
}

.avatar {
	float: left;
	margin: 10px;
	width: 48px;
	height: 48px;
}

.title {
	margin-top: 10px;
	width: 640px;
	font-size: 20px;
	overflow: hidden;
}

.info {
	width: 640px;
}

.info a {
	padding-right: 5px;
	color: #aaa;
	text-decoration: underline;
}

.info small {
	padding-right: 3px;
	color: #aaa;
}

.reply {
	float: right;
	margin-top: -36px;
	margin-right: 20px;
}

/******************/
.pagebar {
	width: 780px;
}


